* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#outer {
  overflow: hidden;
  position: relative;
}

#inner {
  position: absolute;
  height: 1000px;
  width: 1000px;
  right: -500000px;
  top: 50px;
}

#canvas {
  width: 80%;
  height: 600px;
  border: 1px solid;
}
